<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <!-- Backends -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Cadastro</servlet-name>
    <servlet-class>servlets.CadastroServlet</servlet-class>
  </servlet>

  <!-- Backend Mappings -->
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Cadastro</servlet-name>
    <url-pattern>/cadastro</url-pattern>
  </servlet-mapping>
  
  <!-- Fronts -->
  <servlet>
    <servlet-name>Usuario</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>CadastroFront</servlet-name>
    <jsp-file>/cadastro.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>LoginFront</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>

  <!--Front Mappings -->
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CadastroFront</servlet-name>
    <url-pattern>/cadastro.jsp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginFront</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
</web-app>